body{
    background-color: #ffffff !important;
}
h1{
    font-size: 28px;
    font-weight: 600;
}

h2{
    font-size: 22px;
    font-weight: 600;
}

h3{
    font-size: 18px;
}

*{
    line-height: 1.5;
    font-weight: 400;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.navegacion-administrador{
    font-size: 16px;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye los elementos proporcionalmente */
    height: 100vh; /* Altura total de la columna, ajustable según tus necesidades */
    margin-top: 1rem;
}

.navegacion-administrador a{
    text-decoration: none;
    font-weight: 600;
    color: black; 
}

.navegacion-administrador li{
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 0.5rem;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    border: 1px solid rgb(0, 0, 0);
}


.navegacion-administrador{
    height: 100vh;
    background-color:#343a40;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 1rem;
}

.navegacion-administrador li{
  font-weight: 700;
  font-size: 18px;
}

.contenedor-navbar-opcion{
    display: flex;
}
/*--------------------------------------------------------------------------------------------------------------*/

.contenedor-padre{
    width: 82vw;
   margin-top: 1rem;
}

/*----------------------------------------------------------------------------------------------------------------*/
.contenedor-editar{
    width: 20vw;
    margin: 1rem;
    margin-top: 1rem;
    
}
.contenedor-pagina-no-encontrada{
    width: 82vw;
}
.contenedor-pagina-no-encontrada img{
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

}

.div-imagen-administrador{
  width: 14vw;
  margin-left: auto;
  margin-right: auto;
}

.div-imagen-administrador img{
    width: 14vw;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-crear{
    float: right;
  }

  .div-botones-editar{
    display: flex;
    justify-content: space-evenly;
  }

  .contenedor-tabla{
    height: 60vh;
    overflow-y: auto; 
    text-align: center;
  }

  .btn-crear{
    position: fixed;
    bottom: 0; /* Se posiciona en la parte inferior */
    right:  0; /* Opcional: puedes centrarlo o ajustarlo según el diseño */
 /* Hace que el botón ocupe todo el ancho si deseas */
 margin: 1rem;
    padding: 15px;
    text-align: center;
    background-color: #3c7aee !important; /* Color del botón */
    color: rgb(0, 0, 0);
    border: none !important;
    cursor: pointer !important;
    width: 14vw !important;
    height: 6vh;
    font-size: 22px !important;
  }

  .contenedor-tabla-btn-h-galeria{
    width: 82vw;
    text-align: center;
  }

  .btns-editar-galeria{
    display: flex;
    justify-content: space-evenly;
  }

  .encabezado-tabla td{
    background-color: violet;
  }

  .contenedor-perfil{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }


  .text-center{
    margin-top: 25vh;
  }