body{
  margin: 0;
  height: 100vh;
  /* background: linear-gradient(135deg, #000000, #0d1b2a, #2575fc, #1e2022, #6a11cb); */
  /* background: linear-gradient(135deg, #002200, #004d00); */
  /* background: linear-gradient(135deg, #138888, #005cbe, #4d068f); */
  background: linear-gradient(135deg, #002f4b, #1f0066, #3a0080);

  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;
  color: white;

}